<p>Hi {{name}}!</p>
<p>Your request change password of account with email {{email}} has been approved.</p>
<a href="{{apiDomain}}/api/person/change-password?email={{hashedEmail}}&password={{hashedPassword}}">Please click here to change your password</a>